* {
  box-sizing: border-box;
}
body {
  width: 1262px;
  margin: 0 auto;
  padding: 0;
  font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: #e40000;
  text-decoration: underline;
}
ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
}
#header,
#nav,
#article,
#section,
#footer_box,
#footer {
  width: 1262px;
  margin: 0 auto;
}
/*****************************header********************************/
#top {
  height: 27px;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
  background: #F2F2F2;
  padding: 0 36px;
}
#top > p {
  float: left;
  height: 26px;
  line-height: 26px;
}
#top > p > a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin-left: 20px;
}
#top > p:first-child > a {
  margin-left: 0;
  margin-right: 20px;
}
#top > ul {
  float: right;
}
#top > ul > li {
  float: left;
  padding: 0 10px;
}
#top > ul > li > a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
#top span {
  color: #e40000;
}
#top_main {
  padding: 10px 36px;
  border-bottom: 1px solid #e5e5e5;
}
#top_main > div:first-child {
  float: left;
}
#top_main:after {
  content: "";
  display: table;
  clear: both;
}
#top_search {
  float: right;
  margin-right: 80px;
  position: relative;
}
#top_search input {
  width: 360px;
  height: 35px;
  font-size: 14px;
  font-family: 'SimHei';
  color: #000;
  padding: 5px 10px;
  outline: none;
  border: 3px solid #c40000;
}
#top_search > a {
  display: inline-block;
  width: 75px;
  height: 35.5px;
  line-height: 35.5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #c40000;
  position: relative;
  right: 1px;
  top: 1px;
}
#top_search > a:hover {
  text-decoration: none;
  background: #e40000;
}
#top_search ol {
  display: none;
  position: absolute;
  width: 354px;
  min-height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  left: 3px;
  top: 33px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 100;
}
#top_search ol a {
  display: inline-block;
  width: 352px;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
  font-weight: bold;
  color: #000000;
}
#top_search ol a:hover {
  color: #fff;
  background: #c40000;
  text-decoration: none;
}
#top_search ul {
  margin-top: 3px;
}
#top_search ul > li {
  float: left;
  color: #ccc;
}
#top_search ul > li > a {
  padding: 2px 8px;
}
#top_search ul > li:first-child > a {
  padding-left: 0;
}
#top_bottom {
  height: 150px;
  position: relative;
  background: url(../Images/main/TB1LdIPNVXXXXXcXpXXSutbFXXX.jpg) no-repeat center center;
}
#top_bottom > input {
  position: absolute;
  left: 710px;
  top: 41px;
  width: 135px;
  height: 25px;
  border: none;
  outline: none;
  font-weight: bold;
}
#top_bottom > a {
  position: absolute;
  left: 236px;
  top: 71px;
  display: inline-block;
  width: 80px;
  height: 20px;
  border-radius: 10px;
}
#top_bottom > span {
  position: absolute;
  width: 21px;
  height: 19px;
  left: 250px;
  top: 113px;
  background: url(../Images/main/TB2Jc81aFXXXXXxXpXXXXXXXXXX-880734502.gif) no-repeat;
}
#top_bottom > ul:last-child {
  position: absolute;
  left: 241px;
  top: 126px;
}
#top_bottom > ul:last-child > li {
  float: left;
}
#top_bottom > ul:last-child > li > a {
  color: #000;
  padding: 0 5px;
  font-size: 13px;
  font-weight: bold;
}
#hotSearch {
  position: absolute;
  left: 705px;
  top: 81px;
}
#hotSearch > li {
  float: left;
  color: #fff;
}
#hotSearch > li:first-child {
  padding-right: 3px;
}
#hotSearch > li > a {
  color: #fff;
  padding: 0 3px;
}
#hotSearch > li > a:hover {
  color: #e40000;
}
/******************************footer*********************************/
#footer {
  padding: 10px 36px 50px 36px;
  background: #000;
  border-top: 2px solid #e40000;
}
#footer > p {
  padding: 8px 0;
  color: #fff;
}
#footer > p > a {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
}
#footer > p > a:first-child {
  margin-left: 0;
}
#footer > p > a:hover {
  color: #e40000;
}
#footer > div > p {
  color: #fff;
  padding: 2px 0;
}
#footer > div > p > a {
  color: #fff;
  padding-right: 50px;
}
/*****************************footer_box********************************/
#footer_box {
  padding: 0 36px;
}
#footer_box > p {
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff url(../Images/main/T1ZjhhFpRkXXX1CdwH-1190-100.jpg) no-repeat;
}
#footer_box > p > a {
  display: inline-block;
  width: 297.5px;
  height: 100px;
}
#footer_box > div:after {
  content: "";
  clear: both;
  display: block;
}
#footer_box > div > ul {
  float: left;
  width: 188px;
  padding: 20px 0 20px 50px;
}
#footer_box > div > ul > li {
  height: 22px;
  line-height: 22px;
}
#footer_box > div > ul > li:first-child {
  color: #646464;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
#aside {
  position: fixed;
  top: 0;
  width: 5px;
  background: #000;
  z-index: 999;
  opacity: 0;
}
#aside b {
  display: block;
  width: 20px;
  margin: 0 auto;
  border-top: 1px solid #666;
}
#aside .aside-body > div,
#aside #welcome {
  width: 35px;
}
#aside .aside-body > div a,
#aside #welcome a {
  color: #fff;
  display: block;
  margin: auto;
  width: 20px;
  text-align: center;
}
#aside .aside-body > div a:hover,
#aside #welcome a:hover {
  text-decoration: none;
}
#aside #welcome {
  position: absolute;
  top: 8%;
}
#aside #welcome span {
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 35px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #e40000;
  word-break: break-all;
}
#aside #welcome a {
  font-size: 14px;
}
#aside #welcome a:first-child {
  margin-bottom: 10px;
}
#aside #welcome a:hover {
  color: #e40000;
}
#aside .aside-body {
  position: absolute;
  top: 30%;
  left: 0;
}
#aside .aside-body .aside-cart {
  padding: 30px 0 10px 0;
  background: url(../Images/icon00.png) no-repeat 1px top;
}
#aside .aside-body .aside-cart:hover {
  background-color: #e40000;
}
#aside .aside-body .aside-cart:hover a {
  background: #e40000;
}
#aside .aside-body .aside-cart:hover #asideNum {
  background-color: #fff;
  color: #e40000;
}
#aside .aside-body .aside-icon {
  width: 0;
  height: 40px;
  padding-left: 35px;
  position: absolute;
  left: 0;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: left center;
}
#aside .aside-body .aside-icon:hover {
  background-color: #e40000;
}
#aside .aside-body .aside-icon.aside-icon01 {
  top: 140px;
  background-image: url(../Images/icon01.png);
}
#aside .aside-body .aside-icon.aside-icon02 {
  top: 180px;
  background-image: url(../Images/icon02.png);
}
#aside .aside-body .aside-icon.aside-icon03 {
  top: 220px;
  background-image: url(../Images/icon03.png);
}
#aside .aside-body .aside-icon.aside-icon04 {
  top: 260px;
  background-image: url(../Images/icon04.png);
}
#aside .aside-footer {
  position: absolute;
  left: 0;
  top: 80%;
  width: 35px;
  height: 70px;
}
#aside .aside-footer > div {
  width: 35px;
  height: 35px;
  position: relative;
}
#aside .aside-footer > div:hover {
  background-color: #e40000;
}
#aside .aside-footer .aside-code {
  background: url(../Images/icon05.png) no-repeat center center;
}
#aside .aside-footer .aside-code:hover > div {
  display: block;
}
#aside .aside-footer .aside-code > div {
  display: none;
  position: absolute;
  width: 154px;
  height: 207px;
  left: -153px;
  bottom: -10px;
  background: url(../Images/bg06.png) no-repeat center center;
}
#aside .aside-footer .aside-code > div img {
  width: 130px;
  position: absolute;
  left: 12px;
  top: 50px;
}
#aside .aside-footer .aside-toTop {
  background: url(../Images/icon07.png) no-repeat center center;
}
#asideNum {
  display: block;
  margin: 5px auto 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e40000;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
}
#form .modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}
#form .modal-dialog {
  position: absolute;
  top: 150px;
  width: 370px;
  left: 50%;
  margin-left: -185px;
}
#form .modal-content {
  position: relative;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
  padding: 16px 12px 3px 12px;
}
#form .modal-content h4 {
  font-size: 1.5em;
}
#form .modal-content .alert {
  margin: 15px 0;
  border: 1px solid #e4393c;
  background: #fee;
  color: #e4393c;
  font-weight: bold;
  padding: 6px;
  border-radius: 2px;
}
#form .modal-content input {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0;
  line-height: 2em;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 6px;
}
#form #div_login span {
  position: absolute;
  font-size: 24px;
  top: 0;
  right: 7px;
  color: #999;
}
#form #div_login span:hover {
  cursor: pointer;
  color: #333;
}
#form #div_login h4 > a {
  font-size: 10px;
  margin-left: 20px;
}
#form #login-form {
  text-align: center;
}
#form #bt-login {
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
  width: 70%;
  height: 35px;
  line-height: 35px;
  border: none;
  margin-top: 0;
}
#form #bt-login:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.container {
  width: 1200px;
  position: relative;
  margin: 40px auto;
}
.container:before {
  content: "";
  display: table;
}
.container:after,
#sm-img:after,
.pd-detail:after,
.detail-fcs:after,
.pd-detail dl:after,
.pt-about:after,
.pt-taste:after {
  content: "";
  display: table;
  clear: both;
}
.img-booth,
.pd-detail,
.pd-aside {
  float: left;
}
.img-booth {
  width: 402px;
  position: relative;
}
#md-img {
  border: 1px solid #eee;
  width: 402px;
  height: 402px;
  position: relative;
}
#sm-img {
  padding: 0 10px;
  height: 62px;
  margin-top: 20px;
}
#sm-img > li {
  float: left;
  margin: 0 6px;
  width: 64px;
  height: 64px;
  border: 2px solid transparent;
}
#sm-img .active {
  border-color: #000;
}
#bg-img {
  display: none;
  width: 402px;
  height: 402px;
  border: 1px solid #eee;
  border-left: none;
  position: absolute;
  top: 0;
  right: -403px;
  z-index: 100;
}
#mask {
  display: none;
  width: 202px;
  height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.6);
}
#superMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  cursor: pointer;
}
.pd-detail {
  margin: 0 20px;
  width: 550px;
}
.pd-detail h3 {
  color: #e40000;
}
.detail-fcs {
  background: #E4E3E3;
  margin-top: 10px;
}
.pd-detail dt,
.pd-detail dd {
  float: left;
  padding: 5px 0;
  line-height: 21px;
}
.pd-detail dt {
  width: 75px;
  padding-left: 10px;
}
.pd-detail dd {
  font-size: 14px;
}
.detail-fcs .promotion-price > dt {
  height: 40px;
  line-height: 40px;
  margin-top: -5px;
}
.detail-fcs .promotion-price > dd {
  height: 40px;
  color: #e40000;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: -5px;
}
.detail-fcs b {
  font-size: 28px;
}
.detail-fcs .postage > dd {
  color: #B5621B;
}
.pt-about {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 10px 0;
}
.pt-about > li {
  float: left;
  padding: 0 48px;
}
.pt-about > li:not(:first-child) {
  border-left: 1px solid #ccc;
}
.pt-about span {
  color: #e40000;
  font-weight: bold;
  padding-left: 1px;
}
.pt-taste {
  margin-top: 10px;
}
.pt-taste dt {
  line-height: 30px;
}
.pt-taste dd {
  margin-right: 10px;
}
.pt-taste dd.active > a {
  border-color: #e40000;
  color: #e40000;
}
.pt-taste a {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #aaa;
  color: #000;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.pt-taste a:hover {
  text-decoration: none;
  border-color: #e40000;
}
#ptn-control {
  margin-right: 15px;
}
#ptn-control input {
  width: 30px;
  padding: 3px 5px;
  border: 1px solid #aaa;
}
#ptn-control a {
  font-size: 18px;
  padding: 0 3px;
}
#ptn-control a:hover {
  text-decoration: none;
}
.pt-number dd:nth-child(3) {
  font-size: 12px;
  position: relative;
  top: 1px;
}
.user_handle {
  margin-top: 15px;
}
.pd-detail .user_handle dd {
  width: 180px;
  height: 40px;
  border: 1px solid #e40000;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}
#buy_it {
  background: #ffeded;
  color: #e40000;
  margin-right: 15px;
}
#add_cart {
  background: #e40000;
  color: #fff;
}
.pd-promise {
  margin: 15px 0;
}
.pd-promise dd {
  margin-right: 20px;
  font-size: 12px;
}
.pt-rest {
  margin-top: -15px;
}
.pt-rest dd {
  margin: 0 10px;
}
.pt-rest a {
  font-size: 12px;
  font-weight: bold;
}
.pd-aside {
  margin-left: 15px;
  margin-top: -20px;
}
.pd-aside h4 {
  width: 160px;
  text-align: center;
  color: #999;
  margin-bottom: 5px;
}
.pd-aside li {
  position: relative;
  margin-bottom: 10px;
}
.pd-aside a {
  color: #000;
}
.pd-aside .shade {
  width: 160px;
  height: 22px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 22px;
  position: absolute;
  bottom: 18px;
  left: 0;
}
.pd-aside p {
  position: relative;
  right: 8px;
  margin-top: 3px;
}
#pd-aside-control {
  width: 160px;
  text-align: center;
  margin-top: -15px;
}
#pd-aside-control a {
  font-size: 34px;
  color: #999;
  margin: 0 15px;
}
#pd-aside-control a:hover {
  text-decoration: none;
  color: #333;
}
.last_img {
  position: absolute;
  top: 515px;
  left: 0;
}
#pd-aside-items {
  min-width: 178px;
  min-height: 561px;
}
#md-img img {
  width: 400px;
  height: 400px;
}
#sm-img img {
  width: 60px;
  height: 60px;
}
#bg-img img {
  width: 800px;
  height: 800px;
}
